#mainPane
{
   -fx-font-family: sans-serif;
    -fx-background-color: #4ec1e3 ;
}

#dataPane{
    -fx-background-color: #4ec1e3;
    -fx-opacity: 1.5;
}

.input{
    -fx-text-fill:#41464b;
    -fx-prompt-text-fill:#64707B;
}

#Username {
    -fx-width: 365px;
    -fx-height: 49px;
    -fx-text-box-border: transparent;
    -fx-outline: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position:right;
}

#usernameLabel,#passwordLabel{
    -fx-text-fill:#41464B;
}

#Password{
    -fx-background-repeat: no-repeat;
    -fx-background-position:right;
}

#header{
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-padding: 10px;
    -fx-text-align: center;
}

#usernameLabel, #passwordLabel {
    -fx-text-fill: #41464B;
}

#ipAddressPane{
    -fx-background-color: #EFEFEF;
    -fx-opacity: 1.0;
}

#centerServerIP{
    -fx-background-color: #1A1A1A;
    -fx-opacity: 1.0;
    -fx-effect: dropshadow(gaussian , rgba(0, 0, 0, 0.8), 30, 0.3, 0, 0); 
}

.image-icon{
    -fx-border-radius: 50%;
}

#Login:hover #loginIcon {
    -fx-fill: #FFFFFF;
}

#Login:hover{
    -fx-background-color: #41464b;
}

#Login:hover, #btnServerIP:hover{
    -fx-cursor: HAND;
}

#Login, #btnServerIP{
    -fx-border: none;
}

#btnServerIP:hover #unlockIcon {
    -fx-fill: #FFFFFF;
}